html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 2.0vh;
}

button {
    box-sizing: inherit;
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-size: 2.0vh;
}


input {
    box-sizing: inherit;
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-size: 2.0vh;
}

form button {
    color: white;
    background-color: black;
    float: right;
}

table {
    width:100%
}

tr:nth-of-type(even) {
    background: #f0f0f0;
}

td {
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

.debug {
    color: blue;
}

.info {
    color: darkgreen;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

/* drop down styling https://www.clickstorm.de/blog/dropdown-css3/ */
select {
    /* first remove all decorations */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    /* now create own style */
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: url(../img/fff-1.0.png) repeat;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

/* and some xtra IE specials */
select::-ms-expand {
    display: none;
}  

/* now create own style */
.w-20 {
    width: 20%;
}
  
.nav-top {
    position: fixed;
    width: 100%;
    z-index: 100;
    animation: animatetop 0.4s;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 0.8vh;
    padding-top: 0.8vh;
}

.nav-item {
    border: none;
    padding-left: 0.9vh;
    padding-right: 0.9vh;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.0vh;
    color: #000;
    display: inline-block;
}


.nav-label {
    border: none;
    padding-left: 1.0vh;
    padding-right: 0.3vh;
    text-decoration: none;
    font-size: 2.0vh;
    color: #000;
    display: inline-block;
}

.page-content {
    padding-top: 4%;
    line-height: 1.5em;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 5vh;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}
